/* You can add global styles to this file, and also import other style files */
.error{
	opacity:1;
  text-align: center;
}

.hideError{
  text-align: center;
	opacity: 0;
  transition: opacity 500ms;
}